index:(tag='lazyimg')
  if tag
    tag.lazyimg(is='{{tag}}' class='{{class}}' as='tag')
      .lazyimg-minified(as='tagimg'
          style="background-image: {{unbound getImage()}}")
      | {{@content}}
  else
    img(src='{{unbound getImage()}}' as='img' class='{{class}}')
