.lazyimg
  position relative
  &-fullimg
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    z-index -1
    // Inherit every background property except of background-image
    // and background-color (which should be transparent)
    background-position inherit
    background-attachment inherit
    background-clip inherit
    background-origin inherit
    background-repeat inherit
    background-size inherit